{% extends 'curse.html' %}

{% block title %}
<title>Титульник</title>
{% endblock %}

{% block body %}
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-4-widescreen">
                
                <h1 class="title">Выберите вариант</h1>
                <h2 class="subtitle">
                    который вам нужен
                </h2>
                <br>
                <br>
                <div class="field is-grouped is-center">
                    <p class="control">
                      <button class="button is-primary is-inverted is-outlined is-large"
                        onclick="window.location.href='{{ url_for('title_curse') }}';"
                      >
                        Курсовая
                      </button>
                    </p>
                    <p class="control">
                      <button class="button is-primary is-inverted is-outlined is-large" 
                        onclick="window.location.href='{{ url_for('title_ref') }}';">
                        Реферат
                      </button>
                    </p>
                  </div>
                  <div class="field is-horizontal">
                    <button class="button is-success is-inverted is-outlined is-large is-fullwidth">
                        Редактор
                    </button>
                  </div>
                </div>
              </div>
            </div>
        </div>
  </section>
{% endblock %}